.home-container {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  height: auto;
  padding-left: 20px;
}
.home-header {
  margin-bottom: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.line {
  font-size: 24px;
}
.cv-title {
  font-size: 50px;
  font-weight: bold;
  font-family: "monoton";
  color: #333333;
}
.home-card-1 {
  text-align: left;
  padding: 20px;
  background-color: #333333;
  color: #ffffff;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-right: 20px;
}
.cv-steps-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "american typewriter", monospace;
}
.get-started-btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #023975;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20px;
}
.arrow {
  font-size: 18px;
  margin-left: 5px;
  color: #d5c4c4;
}
.key-featuresheading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "american typewriter", monospace;
}
.key-feature {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
}
.home-Features {
  margin-top: 20px;
  text-align: left;
  background-color: #ffffff;
  padding: 20px;
}
.home-footer {
  background-color: #65afdd;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  padding: 0px;
  height: auto;
}
.img-follow {
  max-width: 50%;
  height: auto;
}
.cv_rules {
  font-size: 16px;
  margin-bottom: 5px;
  color: #b11212;
  text-align: left;
}
.cv-info {
  font-size: 16px;
  margin-bottom: 5px;
  color: #000000;
  text-align: center;
}
.form-body {
  background-color: #5732d2;
}
.cv_title {
  font-weight: bold;
  color: #ebebee;
  text-align: center;
}
.form-container {
  background-color: #fff;
  margin: 5%;
  border-radius: 10px;
  color: #000000;
}
.button {
  width: auto;
  text-align: right;
}
label {
  font-weight: bold;
}
